certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
filelock==3.12.2
future==0.18.3
git-lfs==1.6
idna==3.4
Jinja2==3.1.2
jq==1.4.1
llvmlite==0.40.1
MarkupSafe==2.1.3
more-itertools==9.1.0
mpmath==1.3.0
networkx==3.1
numba==0.57.1
numpy==1.24.4
openai-whisper==20230314
pocketsphinx @ file:///Users/kevinzhao79/VSCode/IRES-UB-Summer-2023/pocketsphinx-master
PyAudio==0.2.13
pycparser==2.21
regex==2023.6.3
requests==2.31.0
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.10.0
srt==3.5.3
sympy==1.12
tiktoken==0.3.1
torch==2.0.1
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.2
vosk==0.3.44
websockets==11.0.3
whisper==1.1.10
